
.Education_Window{
    --Height: 21rem;
    --Width: 21rem;
    top: calc(4 * 3rem + 2.5rem);
    left: calc(50% - var(--Width)/2);
    z-index: 54;
    filter: opacity(1);
    transition: 0.2s;
    transition-property: height, width;
    /* display: none; */
}

.Expand_Education_Window{
  --New_Height: 30rem;
  height: var(--New_Height);
}

#Education_Circle{
  background-color: rgba(0,0,0,0.1);
  height: 8rem;
  width: 8rem;
  border-radius: 100%;
  margin: 0 auto;
  margin-top: 1rem;
  border: 0.3rem solid white;
  box-shadow: 0 0.1rem 0.5rem 0.1rem rgba(0,0,0,0.2), inset 0 -0.1rem 0.5rem 0.1rem rgba(0,0,0,0.2);
  background-image: url('../Window_Styles/Education_Window_Assets/Ryerson_Logo.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

#School_Header{
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  color: white;
  color: rgb(80,80,80);
  margin-top: 1rem;
  width: 100%;
  font-size: 1.2rem;
}

#Degree_Label{
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  color: white;
  color: rgb(80,80,80);
  margin-top: 1rem;
  width: 100%;
  font-size: 0.8rem;
}






