

:root{
  --Loading_Icon_Size: 6rem;
  --Progress_Circle_Thickness: 0.25rem;
}

#Loading_Window{
  /* display: none; */
  position: fixed;
  height: 100vh;
  width: 100vw;
  background-color: black;
  z-index: 10000;
}

.OS_Loaded_Animation{
  animation: Loaded_Page_Keyframes 0.7s ease forwards;
  animation-delay: 0.6s;
}

@keyframes Loaded_Page_Keyframes {
  0%{filter: opacity(1); transform: translateY(0vh);}
  99%{filter: opacity(0); transform: translateY(0vh);}
  100%{filter: opacity(0); transform: translateY(100vh);}
}

#Loading_Icon{
  position: absolute;
  height: var(--Loading_Icon_Size);
  width: var(--Loading_Icon_Size);
  border: 0.25rem solid white;
  box-sizing: border-box;
  top: calc(37% - var(--Loading_Icon_Size)/2);
  left: calc(50% - var(--Loading_Icon_Size)/2);
  background-image: url('../../Assets/Circle_Image.svg');
  background-size: cover;
  border-radius: 100%;
  box-shadow: inset 0 0.15rem 0.2rem 0.05rem rgba(0,0,0,0.2);
  transform: scale(0);
  filter: opacity(0);
  animation: Grow_Icon_Keyframes 1s ease forwards;
  animation-delay: 0.1s;
}

@keyframes Grow_Icon_Keyframes {
  from{transform: scale(0); filter: opacity(0);}
  to{transform: scale(1); filter: opacity(1);}
}

#Progress_Bar{
  position: absolute;
  --Height: 0.4rem;
  --Width: 10rem;
  --Top_Margin: 3.5rem;
  margin-top: 2rem;
  background-color: black;
  height: var(--Height);
  width: var(--Width);
  top: calc(37% + var(--Height)/2 + var(--Top_Margin));
  left: calc(50% - var(--Width)/2);
  border-radius: 1000rem;
  transform: scaleX(0);
  filter: opacity(1);
  animation: Expand_Progress_Bar_Frames 1s ease forwards;
  animation-delay: 0.2s;
  border: 0.05rem solid rgba(255,255,255,0.8);
  box-sizing: border-box;
  background-image: linear-gradient(to left, transparent 50%, rgba(255,255,255,1) 50%);
  background-size: 200% 100%;
  --Progress_Percentage: 0%;
  background-position: calc(100% - var(--Progress_Percentage)) 50%;
  transition: 1s;
  display: none;
}

@keyframes Expand_Progress_Bar_Frames {
  0%{transform: scaleX(0); filter: opacity(1);}
  20%{transform: scaleX(0); filter: opacity(1);}
  100%{transform: scaleX(1); filter: opacity(1);}
}

#Loading_Circle{
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  --Diameter: 1.7rem;
  --Top_Margin: 3.5rem;
  margin-top: 2rem;
  height: var(--Diameter);
  width: var(--Diameter);
  top: calc(37% + var(--Diameter)/2 + var(--Top_Margin));
  left: calc(50% - var(--Diameter)/2);
  border-radius: 100%;
  background: conic-gradient(rgba(255,255,255,0) 15%, white 60%, white 100%);
  background-size: cover;
  background-position: center;
  animation: Spinning_Frames 1s linear forwards infinite;
}

#Inner_Loading_Circle{
  --Diameter: calc(100% - 2*var(--Progress_Circle_Thickness));
  height: var(--Diameter);
  width: var(--Diameter);
  background-color: black;
  border-radius: 100%;
}

#Loading_Circle_Perimeter_Head{
  position: absolute;
  height: var(--Progress_Circle_Thickness);
  width: var(--Progress_Circle_Thickness);
  background-color: rgba(255,255,255,1);
  top: 0;
  border-radius: 100%;
}


@keyframes Spinning_Frames {
  0%{transform: rotate(0deg);}
  100%{transform: rotate(360deg);}
}







