
.Mail_Window{
    --Height: 21rem;
    --Width: calc((35/27)*21rem);
    height: var(--Height);
    width: var(--Width);
    top: calc(8 * 3rem + 2.5rem);
    top: calc(1 * 3rem + 2.5rem);
    left: calc(50% - var(--Width)/2);
    z-index: 58;
    filter: opacity(1);
    transition: 0.2s;
    transition-property: height, width;
    display: none;
}

.Expand_Mail_Window{
  --New_Height: 27rem;
  --New_Width: 35rem;
  height: var(--New_Height);
  width: var(--New_Width);
}