
.Messages_Window{
  --Height: 28rem;
  --Width: 21rem;
  height: var(--Height);
  width: var(--Width);
  top: calc(3rem + 2.5rem);
  left: calc(50% - var(--Width)/2);
  z-index: 51;
  filter: opacity(1);
  transition: 0.2s;
  transition-property: height, width;
  /* display: none;  */
}

.Expand_Messages_Window{
  --New_Height: 28rem;
  --New_Width: 35rem;
  height: var(--New_Height);
  width: var(--New_Width);
}

.Chat_Selection_Container{
  position: relative;
  --Width: 100%;
  padding-left: 2.5rem;
  padding-right: 2.5rem;
  --Height: calc(var(--Width)/4);
  display: flex;
  gap: 7%;
  width: var(--Width);
  z-index: -1;
  box-sizing: border-box;
  margin-top: 0.2rem;
  justify-content: space-around;
  align-items: flex-start;
  flex-wrap: wrap;
}

.Pinned_Chat_Containers{
  position: relative;
}

#Chat_Grid{
  position: absolute;
  display: flex;
  /* background-color: rgba(0,0,0,0.2); */
  height: 100%;
  width: 100%;
  flex-wrap: wrap;
  align-content: flex-start;
  z-index: -5;
}


.Pinned_Chats{
  position: relative;
  display: flex;
  --Width: 4.5rem;
  width: var(--Width);
  top: calc(50% - var(--Width)/2);
  left: calc(50% - var(--Width)/2);
  aspect-ratio: 1 / 1;
  border-radius: 100%;
  background-color: rgba(0,0,0,0.2);
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  font-family: Arial;
  color: rgba(255,255,255,0.7);
  z-index: 100;
  pointer-events: all;
}

.Name_Labels{
  position: relative;
  top: 0.5rem;
  display: flex;
  height: 1rem;
  width: 100%;
  /* margin-top: 0.8rem; */
  text-align: center;
  justify-content: center;
  align-items: center;
  color: rgba(0,0,0,0.3);
  font-size: 0.8rem;
  margin-bottom: 1rem;
}


.Chat_Bubbles{
  display: flex;
  position: absolute;
  --Height: 80%;
  height: var(--Height);
  aspect-ratio: 1 / 1;
  background-color: rgba(0,0,0,0.2);
  border-radius: 100%;
  top: calc(50% - var(--Height)/2);
  left: 1rem;
  justify-content: center;
  align-items: center;
  color: rgba(255,255,255,0.7);
  font-size: 1.3rem;
}

.Chat_Dividers{
  position: absolute;
  display: flex;
  --Height: 0.1rem;
  height: var(--Height);
  width: calc(100% - 6rem);
  right: 1rem;
  bottom: 0;
  justify-content: flex-end;
  align-items: flex-end;
  background-color: rgba(0,0,0,0.05);
  border-radius: 1000rem;
}

.Name_Headers{
  position: absolute;
  width: calc(100% - 6rem);
  right: 1rem;
  top: 0.5rem;
  color: rgba(0,0,0,0.55);
  font-size: 0.8rem;
  font-weight: 600;
}

.Chat_Previews{
  position: absolute;
  width: calc(100% - 6rem);
  right: 1rem;
  top: 1.5rem;
  height: 2.5rem;
  font-size: 0.8rem;
  color: rgba(0,0,0,0.3);
}

#Compose_Chat_Button{
  position: absolute;
  top: 0.5rem;
  right: 0.7rem;
  font-size: 1.4rem;
  padding: 0.2rem;
  box-sizing: border-box;
  color: rgba(0,0,0,0.2);
  border-radius: 0.3rem;
  z-index: -1;
}

#Recent_Chats_Container{
  top: 0;
  position: relative;
  display: flex;
  height: calc(100% - 10rem);
  width: 100%;
  box-sizing: border-box;
  flex-wrap: wrap;
  align-content: flex-start;
}

.Recent_Chat_Boxes{
  display: flex;
  position: relative;
  height: 4.3rem;
  width: 100%;
  overflow: hidden;
  overflow: scroll;
  scroll-snap-type: x mandatory;
  scroll-padding: 0px;
}

.Recent_Chat_Boxes > div{
  scroll-snap-align: end; 
}

.Swipe_Actions_Menu{
  display: grid;
  grid-template-columns: 4.2rem 4.2rem;
  position: absolute;
  width: 8.4rem;
  height: 100%;
  box-sizing: border-box;
  top: 0; 
  left: 100%;
  align-items: center;
}

.Pin_Buttons{
  display: block;
  position: relative;
  height: 4rem;
  width: 4rem;
  border: none;
  background-color: #F4BF4F;
  margin-right: 0.2rem;
  border-radius: 0.3rem;
}

.Delete_Buttons{
  display: block;
  position: relative;
  height: 4rem;
  width: 4rem;
  border: none;
  background-color: #EC6A5E;
  /* padding-right: 1000rem; */
  border-radius: 0.3rem;
  margin-right: 0.2rem;
}

.Chat_Bubble_Remove_Buttons{
  display: flex;
  position: absolute;
  --Diameter: 1.2rem;
  height: var(--Diameter);
  width: var(--Diameter);
  top: 0;
  left: 0;
  background-color: rgba(220,220,220,1);
  font-size: 0.9rem;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
  color: rgba(0,0,0,0.5);
  border: none;
  z-index: 1000;
  opacity: 0;
  pointer-events: none;
  /* transform: scale(0); */
  transition: 0.1s;
  transform-origin: center;
}

.Show_Chat_Bubble_Remove_Button{
  opacity: 1;
  transform: scale(1);
  pointer-events: all;
  transition: 0.3s;
}

.Show_Chat_Bubble_Remove_Button:hover{
  transform: scale(1.1);
}


#Messages_Background{
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: red;
  /* z-index: -1; */
}




