
.Messages_Window{
  --Height: 28rem;
  --Width: 21rem;
  height: var(--Height);
  width: var(--Width);
  top: calc(3rem + 2.5rem);
  left: calc(50% - var(--Width)/2);
  z-index: 51;
  filter: opacity(1);
  transition: 0.2s;
  transition-property: height, width;
  display: none; 
}

.Expand_Messages_Window{
  --New_Height: 28rem;
  --New_Width: 35rem;
  height: var(--New_Height);
  width: var(--New_Width);
}

.Chat_Selection_Container{
  position: relative;
  --Width: calc(100% - 5rem);
  --Height: calc(var(--Width)/4);
  display: grid;
  grid-gap: 7%;
  grid-template-rows: 4fr 1fr;
  grid-template-columns: repeat(3,1fr);
  position: relative;
  height: var(--Height);
  width: var(--Width);
  margin: 0 auto;
  z-index: -1;
  box-sizing: border-box;
  box-sizing: border-box;
  margin-top: 0.2rem;
  margin-bottom: 1.5rem;
}

.Pinned_Chat_Containers{
  position: relative;
}

.Pinned_Chats{
  position: absolute;
  display: flex;
  --Width: 4.5rem;
  width: var(--Width);
  top: calc(50% - var(--Width)/2);
  left: calc(50% - var(--Width)/2);
  aspect-ratio: 1 / 1;
  border-radius: 100%;
  background-color: rgba(0,0,0,0.2);
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  font-family: Arial;
  color: rgba(255,255,255,0.7);
}

.Name_Labels{
  display: flex;
  height: 100%;
  width: 100%;
  text-align: center;
  justify-content: center;
  align-items: center;
  color: rgba(0,0,0,0.3);
  font-size: 0.8rem;
}

.Recent_Chats{
  position: relative;
  height: 4.3rem;
  overflow: hidden;
}

.Chat_Bubbles{
  display: flex;
  position: absolute;
  --Height: 80%;
  height: var(--Height);
  aspect-ratio: 1 / 1;
  background-color: rgba(0,0,0,0.2);
  border-radius: 100%;
  top: calc(50% - var(--Height)/2);
  left: 1rem;
  justify-content: center;
  align-items: center;
  color: rgba(255,255,255,0.7);
}

.Chat_Dividers{
  position: absolute;
  display: flex;
  --Height: 0.1rem;
  height: var(--Height);
  width: calc(100% - 6rem);
  right: 1rem;
  bottom: 0;
  justify-content: flex-end;
  align-items: flex-end;
  background-color: rgba(0,0,0,0.05);
  border-radius: 1000rem;
}

.Name_Headers{
  position: absolute;
  width: calc(100% - 6rem);
  right: 1rem;
  top: 0.5rem;
  color: rgba(0,0,0,0.55);
  font-size: 0.8rem;
  font-weight: 600;
}

.Chat_Previews{
  position: absolute;
  width: calc(100% - 6rem);
  right: 1rem;
  top: 1.5rem;
  height: 2.5rem;
  font-size: 0.8rem;
  color: rgba(0,0,0,0.3);
}

#Compose_Chat_Button{
  position: absolute;
  top: 0.5rem;
  right: 0.7rem;
  font-size: 1.4rem;
  padding: 0.2rem;
  box-sizing: border-box;
  color: rgba(0,0,0,0.2);
  border-radius: 0.3rem;
  z-index: -1;
}







