
.Toybox_Window{
  --Height: 27rem;
  --Width: 35rem;
  height: var(--Height);
  width: var(--Width);
  top: calc(2.5rem);
  left: calc(50% - var(--Width)/2);
  z-index: 50;
  filter: opacity(1);
  transition: 0.2s;
  transition-property: height, width;
  /* display: none; */
}

.Expand_Toybox_Window{
  --New_Height: 30rem;
  --New_Width: 35rem;
  height: var(--New_Height);
  width: var(--New_Width);
}

@font-face {
  font-family: 'Dotted';
  src: url('./Toybox_Window_Assets/Fonts/DOTCIRFUL Regular.otf');
  font-weight: bold;
  font-style: normal;

}

#Toybox_Window_Body{
  position: relative;
  display: grid;
  grid-template-rows: 1fr 6fr;
  grid-template-columns: 1fr;
  height: calc(100% - 3rem);
  width: 100%;
  box-sizing: border-box;
}

#Highscore_Container{
  display: flex;
  color: rgba(105,94,156,0.5); 
  font-size: 2.3rem;
  justify-content: center;
  align-items: flex-end;
  font-family: Dotted, sans-serif;
  height: 4rem;
  overflow: hidden;
}

#Controller_Container{
  position: relative;
  background-image: url("./Toybox_Window_Assets/Game Boy Advance.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

#Controller_Screen{
  --Spacing: 0.5rem;
  display: grid;
  grid-gap: var(--Spacing);
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  position: absolute;
  --Height: 9rem;
  --Width: 13.9rem;
  height: var(--Height);
  width: var(--Width);
  top: 4.5rem;
  left: calc(50% - var(--Width)/2);
  border: 1px solid transparent;
  padding: var(--Spacing);
  box-sizing: border-box;
}

.Controller_Buttons{
  background-color: white;
  border-radius: 0.5rem;
  /* box-shadow: inset 0 -2px 0 2px rgba(0,0,0,0.2), inset 0 0.05px 0.2px 1px rgba(255,255,255,0.5); */
}

#Controller_Green_Button{
  background-color: rgba(92,200,100,1);
  filter: opacity(0.6);
}
  
#Controller_Red_Button{
  background-color: rgba(233,51,39,1);
  filter: opacity(0.6);
}
  
#Controller_Yellow_Button{
  background-color: rgba(235,197,66,1);
  filter: opacity(0.6);
}
  
#Controller_Blue_Button{
  background-color: rgba(40,96,198,1);
  filter: opacity(0.6);
}

.Light_Up_Button{
  
}

#Start_Memory_Game_Button{
  position: absolute;
  --Diameter: 4rem;
  height: var(--Diameter);
  width: var(--Diameter);
  border-radius: 100%;
  font-size: 0.7rem;
  border: 0.45rem solid rgb(61,66,63);
  font-weight: bold;
  top: calc(50% - 1rem - var(--Diameter)/2);
  left: calc(50% - var(--Diameter)/2);
  box-sizing: border-box;
  color: rgba(0,0,0,0.3);
  background-color: rgb(184,184,182);
}

#Start_Memory_Game_Button:hover{ 
  filter: brightness(1.5);
  
}





