
.Toybox_Window{
  --Height: 21rem;
  --Width: 21rem;
  top: calc(2.5rem);
  left: calc(50% - var(--Width)/2);
  z-index: 50;
  filter: opacity(1);
  transition: 0.2s;
  transition-property: height, width;
  display: none;
}

.Expand_Toybox_Window{
  --New_Height: 30rem;
  --New_Width: 35rem;
  height: var(--New_Height);
  width: var(--New_Width);
}