
*{
  font-size: 1em;
}

:root{
  font-size: 1em;  
  font-family: Arial;
}

html,body{
  background-color: var(--System_Grey);
  margin: 0;
  background-color: rgba(225,225,232,1);
}

body {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  -ms-overflow-style: none;
  scrollbar-width: none;
  filter: brightness(1);
  background: rgb(0,0,0);  
}

body::-webkit-scrollbar { 
  display: none;
}

.Close_Window{
  display: none;
  pointer-events: none;
  /* opacity: 0; */
}

:root{
  --Window_Scaler: 1;
  --X_Position_1: 0;
  --Y_Position_1: 0;
  --X_Position_2: 0;
  --Y_Position_2: 0;
  
  --X_Position_1R: 0;
  --Y_Position_1R: 0;
  --X_Position_2R: 0;
  --Y_Position_2R: 0;
}

.Shrink_Window{
  animation: Shrink_Window_Frames 0.7s ease forwards;
}

.Unshrink_Window{
  animation: Unshrink_Window_Frames 0.7s ease forwards;
}

@keyframes Shrink_Window_Frames {
  0%{top: var(--Y_Position_1); left: var(--X_Position_1); transform: scale(1);}
  40%{left: var(--X_Position_2);}
  60%{opacity: 1;}
  100%{top: var(--Y_Position_2); left: var(--X_Position_2); transform: scale(0); opacity: 0;}
}


@keyframes Unshrink_Window_Frames {
  0%{top: var(--Y_Position_2R); left: var(--X_Position_2R); transform: scale(0); opacity: 0;}
  20%{opacity: 1;}
  40%{left: var(--X_Position_2R);}
  100%{top: var(--Y_Position_1R); left: var(--X_Position_1R); transform: scale(1);}
}


.Disabled_Toggle_Buttons{
  /* background-color: rgba(244,191,79,1); */
  background-color: grey;
  filter: opacity(0.3);
  pointer-events: none;
}





