
*{
  font-size: 1em;
}

:root{
  font-size: 1em;  
  font-family: Arial;
}

html,body{
  background-color: var(--System_Grey);
  margin: 0;
  background-color: rgba(225,225,232,1);
}

body {
  height: 100vh;
  width: 100vw;
  overflow: hidden; /* Hide scrollbars */
  -ms-overflow-style: none;  /* Internet Explorer 10+ */
  scrollbar-width: none;  /* Firefox */
  filter: brightness(1);
  /* background: rgb(207,165,203); */
  background: rgb(0,0,0);
  
}

body::-webkit-scrollbar { 
  display: none;  /* Safari and Chrome */
}